<!DOCTYPE html>
<html  class="no-js" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>RentalH - Real Estate HTML5 Template</title>
	<link rel="icon" href="img/icon.png" type="image/gif" sizes="16x16">
	<link rel="icon" href="img/icon.png" type="image/gif" sizes="18x18">
	<link rel="icon" href="img/icon.png" type="image/gif" sizes="20x20">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-icons.css">
	<link rel="stylesheet" href="css/fontawesome.all.min.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">

</head>
<body>
	<!-- Start Header Area -->
	<header class="header">
		<!-- Header Top -->
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="top-info">
							<span><i class="far fa-envelope"></i> enfo@mail.com</span>
							<span><i class="fas fa-phone-alt"></i> (+77) 5656 656 56</span>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="top-social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fas fa-rss"></i></a></li>
								<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Bottom -->
		<div class="header-bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-sm-5 col-4">
						<div class="logo">
							<a href="/">
								<!-- <img src="img/logo.png" alt="logo"> -->
								Real Estate
							</a>
						</div>
					</div>
					<div class="col-lg-10 col-sm-7 col-8">
						<!-- Right -->
						<div class="header-bottom-right">
							<div class="canvas_open">
						        <a href="javascript:void(0)"><i class="fas fa-bars"></i></a>
						    </div>
							<div class="top-search">
								<div class="header-search-icon">
									<i class="fas fa-search"></i>
								</div>
								<div class="header-top-search-form">
									<div class="header-top-search-form-full">
										<form action="#">
											<input type="search" name="search" placeholder="Search Here..">
											<button type="submit"><i class="fas fa-search"></i></button>
										</form>
									</div>
								</div>
							</div>
							<div class="top-user">
								<div class="user-icon">
									<i class="fas fa-user"></i>
								</div>
								
							</div>
						</div>
						<!-- Menu -->
						<div class="menu">
							<nav>
								<ul>
									<li><a href="/">Home</a>
										<ul>
											<li><a href="/">Home V1</a></li>
											<li><a href="/">Home v2</a></li>
										</ul>
									</li>
									<li><a href="/about">About Us</a></li>
									<li><a href="#">Page</a>
										<ul>
											<li><a href="/portfolio">Portfolio</a></li>
											<li><a href="/portfolio-details">Portfolio Details</a></li>
											<li><a href="/about">About us</a></li>
											<li><a href="/contact">Contact Us</a></li>
										
										</ul>
									</li>
									<li><a href="/services">Services</a>
										<ul>
											<li><a href="/services">Services</a></li>
											<li><a href="/services-details">Services Details</a></li>
										</ul>
									</li>
									<li><a href="/blog">Blog</a>
										
									</li>
									<li><a href="/contact">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- End Header Area -->
	<!-- Start Mobile Menu Area -->
	<div class="mobile-menu-area">
		
		<!--offcanvas menu area start-->
	    <div class="off_canvars_overlay">
	                
	    </div>
	    <div class="offcanvas_menu">
	        <div class="offcanvas_menu_wrapper">
	            <div class="canvas_close">
	                <a href="javascript:void(0)"><i class="fas fa-times"></i></a>  
	            </div>
	            <div class="mobile-logo">
	            	<a href="/">
	            		<img src="img/logo.png" alt="loog">
	            	</a>
	            </div>
	            <div id="menu" class="text-left ">
	                <ul class="offcanvas_main_menu">
	                    <li class="menu-item-has-children active">
	                        <a href="#">Home</a>
	                        <ul class="sub-menu">
	                            <li><a href="/">Home v1</a></li>
	                            <li><a href="/">Home v2</a></li>
	                        </ul>
	                    </li>
	                    <li class="menu-item-has-children">
	                       <a href="/about">About Us</a>
	                    </li>
	                    <li class="menu-item-has-children">
	                        <a href="#">Page</a>
	                        <ul class="sub-menu">
	                        	<li><a href="/portfolio">Portfolio</a></li>
								<li><a href="/portfolio-details">Portfolio Details</a></li>
								<li><a href="/about">About us</a></li>
								<li><a href="/contact">Contact Us</a></li>
							
	                        </ul>
	                    </li>
	                    <li class="menu-item-has-children">
	                        <a href="/services">Services</a>
	                        <ul class="sub-menu">
	                        	<li><a href="/services">Services</a></li>
								<li><a href="/services-details">Services Details</a></li>
	                        </ul>
	                    </li>
	                    <li class="menu-item-has-children">
	                        <a href="#">Blog</a>
	                       
	                    </li>
	                    <li class="menu-item-has-children">
	                        <a href="/contact"> Contact Us</a> 
	                    </li>
	                </ul>
	            </div>
	        </div>
	    </div>
    </div>
    <!--offcanvas menu area end-->
	<!-- Start Hero Section -->
	<section class="hero-slider-area">
		<div class="hero-slider-full owl-carousel">
			<!-- Single -->
			<div class="hero-slider-single" style="background-image: url('img/slider1.jpg');">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="hero-slider-caption">
								<h4> Real Estate Agency</h4>
								<h2>Perfection is always under <br> constuction</h2>
								<div class="content">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non libero consectetur, blandit mauris eget.</p>
								</div>
								<div class="hero-caption-btn mt-30">
									<a class="button-1" href="#">Our Services</a>
									<a class="button-1" href="#">Contact Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Single -->
			<div class="hero-slider-single" style="background-image: url('img/slider2.jpg');">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<div class="hero-slider-caption">
								<h4> Real Estate Agency</h4>
								<h2>Perfection is always under <br> constuction</h2>
								<div class="content">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non libero consectetur, blandit mauris eget.</p>
								</div>
								<div class="hero-caption-btn mt-30">
									<a class="button-1" href="#">Our Services</a>
									<a class="button-1" href="#">Contact Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Single -->
			<div class="hero-slider-single" style="background-image: url('img/slider3.jpg');">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-right">
							<div class="hero-slider-caption">
								<h4> Real Estate Agency</h4>
								<h2>Perfection is always under <br> constuction</h2>
								<div class="content">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non libero consectetur, blandit mauris eget.</p>
								</div>
								<div class="hero-caption-btn mt-30">
									<a class="button-1" href="#">Our Services</a>
									<a class="button-1" href="#">Contact Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Start Hero Section -->

	<!-- Start Appointment Area -->
	<div class="appointment-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="appointment-area-full">
						<div class="appointment-form">
							<form action="#">
								<div class="row">
									<div class="col-lg-3 col-sm-6">
										<input type="text" name="name" placeholder="Name">
									</div>
									<div class="col-lg-3 col-sm-6">
										<select name="category">
											<option value="Region">Your Region</option>
											<option value="United">United States</option>
											<option value="India">India</option>
											<option value="Bangladesh">Bangladesh</option>
											<option value="Afghanistan">Afghanistan</option>
											<option value="Albania">Albania</option>
											<option value="Algeria">Algeria</option>
										</select>
									</div>
									<div class="col-lg-3 col-sm-6">
										<select name="category">
											<option value="t">Services Type</option>
											<option value="t">Services Type 1</option>
											<option value="t">Services Type 2</option>
											<option value="t">Services Type 3</option>
											<option value="t">Services Type 4</option>
											<option value="t">Services Type 5</option>
											<option value="t">Services Type 6</option>
										</select>
									</div>
									<div class="col-lg-3 col-sm-6">
										<button class="button-1" type="submit">Submit</button>
									</div>

								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Appointment Area -->
	<!-- Start About Area -->
	<section class="about-area pt-100 pb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="about-img">
						<img src="img/about.jpg" alt="about">
						<div class="about-img-content">
							<div class="about-img-content-full">
								<h2>62+</h2>
								<p>Projects</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="about-content">
						<div class="about-content-headding">
							<h5>About Us</h5>
							<h2>Founded in Lebanon in 1967, Kons Construction Company (KCC) has grown</h2>
						</div>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
						<ul>
							<li><i class="fas fa-check"></i> Smart Home Design </li>
							<li><i class="fas fa-check"></i> Ut sit amet nisl sed</li>
							<li><i class="fas fa-check"></i> Equipment Installation</li>
							<li><i class="fas fa-check"></i> Ut ante vulputate</li>
						</ul>
						<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
						<a href="#" class="button-1">Our Services</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End About Area -->
	<!-- Start Poperty Area -->
	<section class="poperty-area pt-20 pb-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-headding mb-50 text-center">
						<h4>Property</h4>
						<h2>Property By Categories</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 col-md-6 mb-30">
					<div class="poperty-item" style="background-image:url('img/po1.jpg');">
						<div class="poperty-item-full">
							<h3>Houses </h3>
							<p> Great Deals Available</p>
							<h6> 25 Listings </h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-30">
					<div class="poperty-item" style="background-image:url('img/po2.jpg');">
						<div class="poperty-item-full">
							<h3>Condos  </h3>
							<p> Great Deals Available</p>
							<h6> 25 Listings </h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-30">
					<div class="poperty-item" style="background-image:url('img/po3.jpg');">
						<div class="poperty-item-full">
							<h3>Retail   </h3>
							<p> Great Deals Available</p>
							<h6> 25 Listings </h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-30">
					<div class="poperty-item" style="background-image:url('img/po4.jpg');">
						<div class="poperty-item-full">
							<h3> Apartments</h3>
							<p> Great Deals Available</p>
							<h6> 25 Listings </h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-30">
					<div class="poperty-item" style="background-image:url('img/po5.jpg');">
						<div class="poperty-item-full">
							<h3> Interior</h3>
							<p> Great Deals Available</p>
							<h6> 25 Listings </h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Poperty Area -->
	<!-- Start interior Area -->
	<section class="interior-services section-bg pt-100 pb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 align-self-center">
					<div class="interior-services-content">
						<h5>Interior Services</h5>
						<h2>Provide Interior Services For You</h2>
						<p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text but also the leap into electronic typesetting, remaining essentially unchanged.</p>
						<p class="active">Various versions have evolved over the years.</p>
						<a class="button-1 mt-10" href="#">View Services</a>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="row">
						<!-- Single -->
						<div class="col-sm-6">
							<div class="services-item-1 mb-30">
								<div class="icon">
									<i class="bi bi-window-sidebar"></i>
								</div>
								<h3>Mechanical Works</h3>
								<p>It was popularised in the 1960s with the release of Letraset sheets</p>
								<a href="#">Services Details <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
						<!-- Single -->
						<div class="col-sm-6">
							<div class="services-item-1 mb-30">
								<div class="icon">
									<i class="bi bi-headset"></i>
								</div>
								<h3>Power & Enegry</h3>
								<p>It was popularised in the 1960s with the release of Letraset sheets</p>
								<a href="#">Services Details <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
						<!-- Single -->
						<div class="col-sm-6">
							<div class="services-item-1 mb-30">
								<div class="icon">
									<i class="bi bi-columns-gap"></i>
								</div>
								<h3>Petroleum Refinery</h3>
								<p>It was popularised in the 1960s with the release of Letraset sheets</p>
								<a href="#">Services Details <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
						<!-- Single -->
						<div class="col-sm-6">
							<div class="services-item-1 mb-30">
								<div class="icon">
									<i class="bi bi-bounding-box-circles"></i>
								</div>
								<h3>Interior Design</h3>
								<p>It was popularised in the 1960s with the release of Letraset sheets</p>
								<a href="#">Services Details <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End interior Area -->
	<!-- Start Our Project Slider -->
	<section class="porject-slider pt-100 pb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-headding mb-50 text-center">
						<h4>Interior Projects</h4>
						<h2>Our Recent Projects</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="project-slider-full owl-carousel">
					<!-- Single -->
					<div class="project-slider-single">
						<div class="thumbnail">
							<img src="img/project/1.jpg" alt="img">
						</div>
						<div class="content">
							<div class="content-full">
								<span>Constructions</span>
								<h4><a href="#">Contemporary Vilas</a></h4>
								<a class="details" href="#">View Details <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<!-- Single -->
					<div class="project-slider-single">
						<div class="thumbnail">
							<img src="img/project/2.jpg" alt="img">
						</div>
						<div class="content">
							<div class="content-full">
								<span>Constructions</span>
								<h4><a href="#">Contemporary Vilas</a></h4>
								<a class="details" href="#">View Details <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<!-- Single -->
					<div class="project-slider-single">
						<div class="thumbnail">
							<img src="img/project/3.jpg" alt="img">
						</div>
						<div class="content">
							<div class="content-full">
								<span>Constructions</span>
								<h4><a href="#">Contemporary Vilas</a></h4>
								<a class="details" href="#">View Details <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<!-- Single -->
					<div class="project-slider-single">
						<div class="thumbnail">
							<img src="img/project/4.jpg" alt="img">
						</div>
						<div class="content">
							<div class="content-full">
								<span>Constructions</span>
								<h4><a href="#">Contemporary Vilas</a></h4>
								<a class="details" href="#">View Details <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<!-- Single -->
					<div class="project-slider-single">
						<div class="thumbnail">
							<img src="img/project/5.jpg" alt="img">
						</div>
						<div class="content">
							<div class="content-full">
								<span>Constructions</span>
								<h4><a href="#">Contemporary Vilas</a></h4>
								<a class="details" href="#">View Details <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<!-- Single -->
					<div class="project-slider-single">
						<div class="thumbnail">
							<img src="img/project/6.jpg" alt="img">
						</div>
						<div class="content">
							<div class="content-full">
								<span>Constructions</span>
								<h4><a href="#">Contemporary Vilas</a></h4>
								<a class="details" href="#">View Details <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<!-- Single -->
					<div class="project-slider-single">
						<div class="thumbnail">
							<img src="img/project/7.jpg" alt="img">
						</div>
						<div class="content">
							<div class="content-full">
								<span>Constructions</span>
								<h4><a href="#">Contemporary Vilas</a></h4>
								<a class="details" href="#">View Details <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Our Project Slider -->
	<!-- Start Our Specialization -->
	<section class="specialization-area">
		<div class="row">
			<div class="col-lg-6 align-self-center">
				<div class="specialization-content">
					<h5>Great Experience In Building</h5>
					<h2>Our Specialization & Company Features</h2>
					<ul>
						<li><i class="fas fa-check"></i> <span>Living rooms are pre-wired for Surround </span></li>
						<li><i class="fas fa-check"></i> <span>Nestled in the Buckhead Vinings communities  </span></li>
						<li><i class="fas fa-check"></i> <span>Luxurious interior design and amenities  </span></li>
						<li><i class="fas fa-check"></i> <span>Private balconies with stunning views </span></li>
						<li><i class="fas fa-check"></i> <span>Private balconies with stunning views </span></li>
						<li><i class="fas fa-check"></i> <span>Private balconies with stunning views </span></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="specialization-img">
					<img src="img/spc.jpg" alt="img">
					<div class="specialization-img-con">
						<div class="specialization-img-con-full">
							<i class="bi bi-heart"></i>
							<h3>100+</h3>
							<p>Happy Clients</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Our Specialization -->
	<!-- Start Team Area -->
	<section class="team-area pt-100 pb-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-headding mb-50 text-center">
						<h4>Expert Workers</h4>
						<h2>Our Team Members</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- Single -->
				<div class="col-lg-4 col-md-6 mb-30">
					<div class="team-item">
						<div class="thumbnail">
							<img src="img/team/1.jpg" alt="team">
						</div>
						<div class="content">
							<h3>Rosalina D. William</h3>
							<span>Real Estate Broker</span>
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="col-lg-4 col-md-6 mb-30">
					<div class="team-item">
						<div class="thumbnail">
							<img src="img/team/2.jpg" alt="team">
						</div>
						<div class="content">
							<h3>Kelian Anderson</h3>
							<span>Selling Agents</span>
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="col-lg-4 col-md-6 mb-30">
					<div class="team-item">
						<div class="thumbnail">
							<img src="img/team/3.jpg" alt="team">
						</div>
						<div class="content">
							<h3>Miranda H. Halim</h3>
							<span>Designer</span>
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Team Area -->
	<!-- Start Building Animations -->
	<section class="building-animations">
		<!-- Image -->
		<div class="building-animations-img">
			<img src="img/bg1.jpg" alt="img">
		</div>
		<!-- Content -->
		<div class="building-animations-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1">
						<div class="building-animations-content-full">
							<div class="row">
								<div class="col-lg-12">
									<div class="section-headding mb-30 text-center">
										<h4>Our Aminities</h4>
										<h2>Building Aminities</h2>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-3 col-sm-6">
									<div class="building-animations-item">
										<div class="icon"><i class="fas fa-caravan"></i></div>
										<h3><a href="#">Parking Space</a></h3>
									</div>
								</div>
								<div class="col-lg-3 col-sm-6">
									<div class="building-animations-item">
										<div class="icon"><i class="fas fa-swimming-pool"></i></div>
										<h3><a href="#">Swimming Pool</a></h3>
									</div>
								</div>
								<div class="col-lg-3 col-sm-6">
									<div class="building-animations-item">
										<div class="icon"><i class="fas fa-shield-alt"></i></div>
										<h3><a href="#">Private Security</a></h3>
									</div>
								</div>
								<div class="col-lg-3 col-sm-6">
									<div class="building-animations-item">
										<div class="icon"><i class="fas fa-house-user"></i></div>
										<h3><a href="#">Smart Homes</a></h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Building Animations -->
	<!-- Start Testimonial Area -->
	<section class="testimonial-area pt-100 pb-100" style="background-image:url('img/bg2.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-headding mb-50 text-center">
						<h4>Our Testimonials</h4>
						<h2>Clients Feedback's</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="testimonial-area-full owl-carousel">
						<!-- Single -->
						<div class="testimonial-item">
							<div class="testimonial-item-full">
								<p><i class="fas fa-quote-left"></i> Digital marketing is a broad field, including attracting customers via email, content marketing In social science, agency is defined as the capacity of individuals to act independently.</p>
								<div class="meta">
									<img src="img/avater.jpg" alt="avater">
									<div class="con">
										<h4>Kelian Anderson</h4>
										<h6>Designer</h6>
									</div>
								</div>
							</div>
						</div>
						<!-- Single -->
						<div class="testimonial-item">
							<div class="testimonial-item-full">
								<p><i class="fas fa-quote-left"></i> Digital marketing is a broad field, including attracting customers via email, content marketing In social science, agency is defined as the capacity of individuals to act independently.</p>
								<div class="meta">
									<img src="img/avater.jpg" alt="avater">
									<div class="con">
										<h4>Kelian Anderson</h4>
										<h6>Designer</h6>
									</div>
								</div>
							</div>
						</div>
						<!-- Single -->
						<div class="testimonial-item">
							<div class="testimonial-item-full">
								<p><i class="fas fa-quote-left"></i> Digital marketing is a broad field, including attracting customers via email, content marketing In social science, agency is defined as the capacity of individuals to act independently.</p>
								<div class="meta">
									<img src="img/avater.jpg" alt="avater">
									<div class="con">
										<h4>Kelian Anderson</h4>
										<h6>Designer</h6>
									</div>
								</div>
							</div>
						</div>
						<!-- Single -->
						<div class="testimonial-item">
							<div class="testimonial-item-full">
								<p><i class="fas fa-quote-left"></i> Digital marketing is a broad field, including attracting customers via email, content marketing In social science, agency is defined as the capacity of individuals to act independently.</p>
								<div class="meta">
									<img src="img/avater.jpg" alt="avater">
									<div class="con">
										<h4>Kelian Anderson</h4>
										<h6>Designer</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonial Area -->
	<!-- Start Latest Blog -->
	<section class="latest-blog pt-100 pb-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-headding mb-50 text-center">
						<h4>News & Blog</h4>
						<h2>Latest blog</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- Single -->
				<div class="col-lg-4 col-md-6 mb-30">
					<div class="blog-single">
						<div class="thubnail">
							<a href="">
								<img src="img/blog/1.jpg" alt="blog img">
							</a>
						</div>
						<div class="content">
							<div class="meta">
								<a href="#"><i class="fas fa-user"></i> by : Admin</a>
								<a href="#"><i class="bi bi-tags"></i> Interior</a>
							</div>
							<div class="title">
								<h3><a href="">The Most Inspiring Interior Design Of 2021</a></h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
							</div>
							<div class="ltn__blog-meta-btn">
								<div class="ltn__blog-meta">
									<span><i class="far fa-calendar-alt"></i> 31 July 2021</span>
								</div>
								<div class="ltn__blog-blog">
									<a href="#">Read More </a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="col-lg-4 col-md-6 mb-30">
					<div class="blog-single">
						<div class="thubnail">
							<a href="">
								<img src="img/blog/3.jpg" alt="blog img">
							</a>
						</div>
						<div class="content">
							<div class="meta">
								<a href="#"><i class="fas fa-user"></i> by : Admin</a>
								<a href="#"><i class="bi bi-tags"></i> Interior</a>
							</div>
							<div class="title">
								<h3><a href="">The Most Inspiring Interior Design Of 2021</a></h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
							</div>
							<div class="ltn__blog-meta-btn">
								<div class="ltn__blog-meta">
									<span><i class="far fa-calendar-alt"></i> 31 July 2021</span>
								</div>
								<div class="ltn__blog-blog">
									<a href="#">Read More </a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="col-lg-4 col-md-6 mb-30">
					<div class="blog-single">
						<div class="thubnail">
							<a href="">
								<img src="img/blog/2.jpg" alt="blog img">
							</a>
						</div>
						<div class="content">
							<div class="meta">
								<a href="#"><i class="fas fa-user"></i> by : Admin</a>
								<a href="#"><i class="bi bi-tags"></i> Interior</a>
							</div>
							<div class="title">
								<h3><a href="">The Most Inspiring Interior Design Of 2021</a></h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
							</div>
							<div class="ltn__blog-meta-btn">
								<div class="ltn__blog-meta">
									<span><i class="far fa-calendar-alt"></i> 31 July 2021</span>
								</div>
								<div class="ltn__blog-blog">
									<a href="#">Read More </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Latest Blog -->
	<!-- Start Subscribe Area -->
	<div class="subscribe-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="subscribe-area-full">
						<div class="row">
							<div class="col-lg-5">
								<div class="subscribe-content">
									<h3>Subscribe Our Newslatter !</h3>
									<p>We can help you realize your dream of a new home</p>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="subscribe-form">
									<form action="#">
										<input type="email" name="email" placeholder="Email Here..">
										<button type="submit" class="button-2">Subscribe</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Subscribe Area -->
	<!-- Start Footer Area -->
	<footer class="pt-140 footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<!-- Single -->
					<div class="col-lg-3 mb-30">
						<div class="footer-widgets">
							<div class="footer-logo">
								<a href="/">
									<img src="img/white-logo.png" alt="logo">
								</a>
							</div>
							<p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Sed non libero consectetur, blandit mauris eget.</p>
							<div class="footer-social">
								<span><a href="#"><i class="fab fa-facebook-f"></i></a></span>
								<span><a href="#"><i class="fab fa-twitter"></i></a></span>
								<span><a href="#"><i class="fab fa-vimeo-v"></i></a></span>
								<span><a href="#"><i class="fab fa-youtube"></i></a></span>
							</div>
						</div>
					</div>
					<!-- Single -->
					<div class="col-lg-3 mb-30">
						<div class="footer-widgets">
							<h3>Usefull Links</h3>
							<ul>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Terms & Conditions</a></li>
								<li><a href="#">Promotional Offers</a></li>
								<li><a href="#">All Products Solutions</a></li>
								<li><a href="#">Blog</a></li>
							</ul>
						</div>
					</div>
					<!-- Single -->
					<div class="col-lg-3 mb-30">
						<div class="footer-widgets">
							<h3>Category</h3>
							<ul>
								<li><a href="#">Home Selling</a></li>
								<li><a href="#">Property Management</a></li>
								<li><a href="#">Interior Design</a></li>
								<li><a href="#">Build Wardrobes</a></li>
								<li><a href="#">Floor Coverings</a></li>
							</ul>
						</div>
					</div>
					<!-- Single -->
					<div class="col-lg-3 mb-30">
						<div class="footer-widgets">
							<h3>Customer Care</h3>
							<ul>
								<li><a href="#">Order tracking</a></li>
								<li><a href="#">Property Management</a></li>
								<li><a href="#">My account</a></li>
								<li><a href="#">Build Wardrobes</a></li>
								<li><a href="#">Floor Coverings</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom pt-30 pb-30">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="copy-text">
							<p>All Rights Reserved &copy; Company 2021</p>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="footer-bottom-menu">
							<nav>
								<ul>
									<li><a href="#">Terms & Conditions</a></li>
									<li><a href="#">Privacy & Policy</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer Area -->
	<div class="scroll-area">
       <i class="fa fa-angle-up"></i>
    </div>


    <!-- Js File -->
    <script src="js/modernizr.min.js"></script>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.counterup.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/mobile-menu.js"></script>
    <script src="js/script.js"></script>
</body>

</html>